doctype html
html(lang="en", ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        link(rel="stylesheet" href="frameworks/bootstrap/3.3.5/css/bootstrap.min.css")
        script(src="frameworks/jQuery/jquery-2.1.4.min.js")
        script(src="frameworks/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="frameworks/angularjs/1.3.16/angular.min.js")
        script(src="frameworks/angularjs/1.3.16/angular-route.min.js")
        script(src="frameworks/socket.io/1.3.5/socket.io.js")
        script(src="js/controllers/app.js")
        script(src="js/socketFactory.js")
        script(src="js/controllers/loginController.js")
        script(src="js/controllers/navbarControllers.js")
    body
        div(ng-view)
