doctype html
html(lang="en", ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel='stylesheet', href='frameworks/fullcalendar/fullcalendar.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/i18n/angular-locale_en-ca.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js")

        script(src='frameworks/fullcalendar/calendarDirective.js')
        script(type='text/javascript', src='frameworks/fullcalendar/fullcalendar.min.js')
        script(type='text/javascript', src='frameworks/fullcalendar/gcal.js')
        script(src="js/controllers/app.js")
        script(src="js/socketFactory.js")
        script(src="js/controllers/loginController.js")
        script(src="js/controllers/calendarControllers.js")
        script(src="js/controllers/profileControllers.js")
        script(src="js/controllers/navbarControllers.js")

        script(src="js/controllers/adminControllers.js")
        script(src="js/controllers/leftSidebarControllers.js")
    body
        div(ng-view)
