.sidebar {

}

.profile-container {
    margin-left: 20px;
    margin-top: 20px;
    position:fixed;
    left:20px;
    z-index:10;
    /*border: solid 1px black;*/
}

.search-container {
    float: right;
}

