.left-sidebar {
    left:-275px;
    width:250px;
    height:100vh;
    background-color: #F8F8F8;
    position: fixed;
    box-shadow:5px 0 10px #999;
    z-index:5;
}

.right-sidebar {
    right:-275px;
    width:250px;
    height:100vh;
    background-color: #F8F8F8;
    position: fixed;
    box-shadow:-5px 0 10px #999;
    z-index:5;
}

.profile-container {
    margin-left: 10px;
    margin-top: 10px;
    position:fixed;
    left:0;
    z-index:10;
    -webkit-transition: opacity 1s;
    opacity: 0.0;
    /*border: solid 1px black;*/
}

.calendar-container {
    padding-left:90px;
    padding-right:50px;
    padding-top:25px;
}

.profile-container > img {
    border-radius: 50%;
}

.search-container {
    float: right;
    position:relative;
}

#right-menu {
    margin-right:10px;
    margin-top:10px;
    position:fixed;
    right:0;
}

/*SIDEBAR-LEFT*/

.profile-button {
    margin-top:30px !important;
    margin-left: 25px;
    width:200px;
}

.user-name {
    margin-left : 100px;
    margin-top : 25px;
    font-size : 32px;
}

.reservation-header {
    margin-left:40px;
    margin-right:10px;
    margin-top: 20px;
    font-size : 24px;
}

.reservation-button {
    margin-left:50px;
    margin-top:25px;
    width: 150px;
    height: 50px;
}

