html { 
    height:100%;
}

body{
    background-image: url('../assets/images/blur1.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height:100%;
}

div.signin{
    position:absolute;
    height:400px;
    width: 700px;
    top:50%;
    left:50%;    
    margin-top: -200px; 
    margin-left:-350px;
    z-index:15;
    background-color: #eeeeee;
    border-radius: 8px;
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.5);  

}

div.users{
    position:absolute;
    width: 700px;
    top:30%;
    left:50%;    
    margin-top: -200px; 
    margin-left:-350px;
    z-index:15;
    background-color: #eeeeee;
    border-radius: 8px;
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.5);  

}


span.oakbay{
    font-size:85px;
}
p.login{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

img.globo-logo {
    margin-top:-35px;
    margin-bottom:-35px;
}
span.facebook, span.google{
    font-family: sans-serif;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.11);
       padding-left:10px;
}

p.about{
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:400px;
    color:white;  
    font-size:20px;
    text-align: center; 
}


p.diddy{
    font-size: 15px; 
}

a.about{
    
    text-decoration: none;
    color:white;
    font-size: 22px;
 
    padding-bottom: 0px;

}


span.about{
    position:absolute;
    color:black;  
    font-size:28px;
    text-align: center;
}


h1.admin, h1.users{
    font-size: 45px;
    padding-top: 0px;
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
}

h1.about{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    padding-top: 0px;
    margin-top: -10px; 
}

ul
{
    list-style-type: none;
}


th{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}

.change-view {
    margin-bottom:20px;
}