html
    head
        link(rel="stylesheet" href="../css/signin.css")
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
        title About Us
    body
        .jumbotron.text-center.signin
            h1.about
                span.fa.fa-pagelines
                span       About Us

            p.diddy This website is for online room registration
                | for the Oak Bay Recreation Center Facilites.
                | We have the following rooms avaliable for reservations:
                ul
                    li 5 Tennis Courts
                    li 1 Pool
                    li 4 Squash Courts
                    li 3 Workout Rooms
                    li 2 Spinning Rooms
         
            p.diddy We are open Monday-Saturday: 8:00 AM -12:00 AM 
               br
               |Sundays from 10:00 AM - 8:00 PM
               br
               | Please login using Facebook or Google+ to make a reservation.
             
            a.btn.btn-success(href='l', role='button') Back




