.modal-header(ng-controller="timepickerController")
    h3.modal-title Choose start and end time
    |         
    .modal-body
      | Start:
      div
        timepicker(ng-model='startTime', ng-change='changed()', hour-step='hstep', minute-step='mstep', show-meridian='false')
      | &#x9;&#x9;&#x9;Duration:
      | &#x9;&#x9;&#x9;  
      div
        select(ng-model='selectedDuration')
            option(value='30') 30mins
            |    
            option(value='60') 60mins
            |    
            option(value='90') 90mins
            |    
            option(value='120') 120mins
      | &#x9;&#x9;&#x9;  Title of Reservation:
      | &#x9;&#x9;&#x9;  
      input#event_subject(ng-model='eventTitle', type='text', name='event_subject', maxlength='255', style='width:460px;')
    |         
    .modal-footer()
      button.btn.btn-primary(ng-click='ok()') Reserve Facility
      button.btn.btn-danger(ng-click='cancel()') Cancel

