.modal-header(ng-controller="timepickerController")
    h3.modal-title Add Reservation
    .modal-body
        form

          div.time-selector
              span.timer-title Start:
              timepicker(ng-model='startTime', ng-change='changed()', hour-step='hstep', minute-step='mstep', show-meridian='false')

          div.reservation-element.reservation-facility
                span Facility:
                select.select-facility(ng-model='selectedRoomtype', ng-init="getActive()", ng-click="changed()")
                    option(ng-repeat ='roomType in roomTypes') {{roomType.type}}

          div.reservation-element
                span Room name:
                select.select-room(ng-model='selectedRoomname', ng-init="scope[selectedRoomtype][0]", ng-click="changed()")
                    option(ng-repeat ='roomName in scope[selectedRoomtype]') {{roomName}}

          div.reservation-element
              span Duration:
              select.select-duration(ng-model='selectedDuration')
                option(selected value='30') 30mins
                option(value='60') 60mins
                option(value='90') 90mins
                option(value='120') 120mins
          div.reservation-name
              span Title of Reservation:
              input.form-control#event_subject(ng-model='eventTitle', type='text', name='event_subject', maxlength='255', placeholder="{{defaultTitle}}")
    .modal-footer()
      .banned-text(ng-hide="hideBannedText")
          .alert.alert-danger(role="alert")
              div.banned-text-content You are currently banned. You will not be able to make reservations
      button.btn.btn-primary(ng-click='ok()', ng-disabled="{{!hideBannedText}}") Reserve Facility
      button.btn.btn-danger(ng-click='cancel()') Cancel

