 <div class="modal-header">
            <h3 class="modal-title">Choose start and end time</h3>
        </div>
        <div class="modal-body">
        	Start:
        		<div ng-controller="timepickerController">

			      <timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>

			    </div>
			End:
			  <div ng-controller="timepickerController">

			    <timepicker ng-model="endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>

			  </div>
			  Title of Reservation:
			  <input ng-model="eventTitle" type="text" id="event_subject" name="event_subject"
				maxlength="255" style="width:460px;"/>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Reserve Facility</button>

        </div>
