my-sidebar(ng-controller="menuController")
.calendar-container
    .span8
        tabset()
            tab(select='selectTab("{{roomType.type}}")', ng-repeat="roomType in roomTypes", active="roomType.active")
                tab-heading {{ roomType.type }}
                div()
                    label(ng-repeat='room in scope[roomType.type]')
                        input(type='checkbox', ng-model='roomsSelected[room]', ng-click="update()")
                        |  {{room}} &nbsp
                        span
                            i.fa.fa-calendar(style="color: {{ colors[room] }}") &nbsp
                .calendar(ng-model='eventSources', calendar='{{roomType.type}}', ui-calendar='uiConfig.calendar' config="uiConfig.calendar")


div(ng-controller="modalController")



