head
    link(rel="stylesheet" href="../css/calendar.css")
    link(rel="stylesheet" href="../css/jquery.sidr.light.css")
    script(src="../frameworks/Sidr/jquery.sidr.min.js")
    script(src="../js/sidebar.js")
body

    .profile-container
        img#left-menu(src="../assets/PlaceholderPhoto.png", height="72", width="72")

    .cal-week-filter
    .search-container
    .cal-filter
    .cal-container
