div.btn-group
    button.btn.btn-success(ng-click="changeView('agendaDay', 'myCalendar1')") AgendaDay
    button.btn.btn-success(ng-click="changeView('agendaWeek', 'myCalendar1')") AgendaWeek
    button.btn.btn-success(ng-click="changeView('month', 'myCalendar1')") Month
.span8.calendar(ui-calendar='uiConfig.calendar', ng-model='eventSources')

