.modal-header(ng-controller='eventModalController')
    h3.modal-title All Users Events
    .modal-body
        form
            table.eventsTable
                tr
                    th
                        | Room
                    th
                        | Date
                    th
                        | Start
                    th
                        | End
                    th
                        | Delete
                | &#x9;
                tr(ng-repeat='event in userEvents')
                    td {{event.roomName}} &nbsp
                    td {{event.start | date:"fullDate" }} &nbsp
                    td {{event.start | date:"shortTime"}} &nbsp
                    td {{event.end | date:"shortTime"}} &nbsp
                    input.btn.btn-primary(type='button', value='Delete Event', ng-click='deleteEvent(event)')
    .modal-footer()
      button.btn.btn-danger(ng-click='cancel()') Close
