.modal-header(ng-controller='eventModalController')
    h3.modal-title Confirm Cancel Reservation
    .modal-body
        form
            table.eventsTable
                tr
                    th
                        | Type
                    th
                        | Room
                    th
                        | Date
                    th
                        | Start
                    th
                        | End
                tr
                    th {{selectedEvent.type}} &nbsp
                    th {{selectedEvent.roomName}} &nbsp
                    th {{selectedEvent.start | date:"fullDate" }} &nbsp
                    th {{selectedEvent.start | date:"shortTime"}} &nbsp
                    th {{selectedEvent.end | date:"shortTime"}} &nbsp
        | &nbsp
        .alert.alert-danger(role="alert", ng-show="reservationMessage")
            | {{ reservationMessage }}
    .modal-footer()
        button.btn.btn-primary(ng-click='confirmedDelete(selectedEvent)') Confirm Delete
        button.btn.btn-danger(ng-click='cancel()') Close
