.container(ng-controller='modalController')
    h1 Modal example
        |   
        button.btn.btn-default(ng-click='toggleModal()') Open modal
        |     
        |   
        modal(title='Login form', visible='showModal')
            form(role='form')
                .form-group
                label(for='email') Email address
                |         
                input#email.form-control(type='email', placeholder='Enter email')
                |       
                .form-group
                label(for='password') Password
                |         
                input#password.form-control(type='password', placeholder='Password')
                |       
                button.btn.btn-default(type='submit') Submit
