html
    head
        link(rel="stylesheet" href="../css/signin.css")
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
        Title Registration Policy
    body
        .jumbotron.text-center.signin
            h1.about
                span.fa.fa-pagelines
                span          Registration Policy

            p.diddy You can log into our service with either a Google or Facebook account.
            p.diddy Once signed in, members can reserve facilities in 30 minute increments for a maximum of 2 hours.
            p.diddy If you intend to cancel a reservation, please do so from your profile page more than 24 hours ahead of the reservation time.
            p.diddy If a cancellation is made after the cancellation period, you may not make another reservation for 48 hours.
            br
             
            a.btn.btn-success(href='/', role='button') Back

