html
    head
        link(rel="stylesheet" href="../css/signin.css")
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
    body
        .jumbotron.text-center.users

            h1.users Reservation List
            a.btn.btn-success(href="/app/calendar") View Calendar
            &nbsp
            a.btn.btn-primary(href="/app/users") View All Users

            table.table.table-bordered
              thead
                tr
                  th User
                  th Room
                  th Date
                  th Time
              tbody
                tr(ng-repeat='reservation in reservations')
                  td {{reservation.user}}
                  td {{reservation.roomName}}
                  td {{reservation.start | date:"fullDate"}}
                  td {{reservation.start | date:"shortTime"}}
                  td
                    a.btn.btn-danger(ng-click="deleteReservation(reservation)") Delete
