head
    link(rel="stylesheet" href="../css/calendar.css")
    script(src="../js/sidebar.js")
body

    .profile-container
        img#left-menu(src="../assets/images/defaultProfile.png" width="72")

    .left-sidebar(ng-app="leftSidebarController")
        .sidebar-Header
        .user-name {{username}}
        button.btn.btn-default.profile-button(href="app/profile") Profile
        
        .reservation-header My Reservations
        .content-container
            div(ng-controller='eventModalController')
                form
                    table.eventsTable
                        tr
                            th
                                | Title
                            th
                                | Room
                            th
                                | Date
                            th
                                | Start
                            th
                                | End
                            th
                                | Delete
                        | &#x9;
                        tr(ng-repeat='event in userEvents')
                            td {{event.title}} &nbsp
                            td {{event.roomName}} &nbsp
                            td {{event.start | date:"fullDate" }} &nbsp
                            td {{event.start | date:"shortTime"}} &nbsp
                            td {{event.end | date:"shortTime"}} &nbsp
                            td
                                input.btn.btn-danger(type='button', value='X', ng-click='deleteEvent(event)')




