
head
    link(rel="stylesheet" href="../css/calendar.css")
    script(src="../js/sidebar.js")

body

    .profile-container(ng-click='seeEvents()')
        img#left-menu(src="../assets/images/defaultProfile.png" width="72")

    .left-sidebar()
        .sidebar-Header
        .user-name {{firstname}}
        div(ng-controller='profileModalController')
            button.btn.btn-default.profile-button(ng-click="openProfile()") Profile
        
        .reservation-header My Reservations
        .content-container
            div(ng-controller='eventModalController')
                div(ng-repeat='event in userEvents')
                    button.btn.btn-default.reservation-button
                        div.reservation-title {{event.type}}
                        div.reservation-time {{event.start | date:"fullDate" }}&nbsp{{event.start | date:"shortTime"}}-{{event.end | date:"shortTime"}}
                    button.btn.btn-danger.reservation-delete(ng-click='deleteEvent(event)') X
        .admin-buttons(ng-hide="hideAdminButtons")
            a(href='app/users/')
                button.btn.btn-default User List
            a(href='app/reservations/') &nbsp
                button.btn.btn-default Reservation List
        button.btn.btn-default.logout-button
            a.logout-text(href="/logout/") Logout
                    //NEED A TRUNCATED TITLE!
                        //td
                        //td {{event.roomName}} &nbsp
                        //td {{event.start | date:"fullDate" }} &nbsp
                        //td {{event.start | date:"shortTime"}} &nbsp
                        //td {{event.end | date:"shortTime"}} &nbsp
                        //td
                            //input.btn.btn-danger(type='button', value='X', ng-click='deleteEvent(event)')




