head
    link(rel="stylesheet" href="../css/calendar.css")
    script(src="../js/sidebar.js")
body

    .profile-container
        img#left-menu(src="../assets/images/defaultProfile.png" width="72")

    .left-sidebar
        left-sidebar(ng-controller="leftSidebarController")
            .sidebar-Header
            .user-name Jake
            button.btn.btn-default.profile-button(href="app/profile") Profile
            .reservation-header My Reservations
            .reservation-container
                button.btn.btn-default Da Bench

    .search-container
        i.fa.fa-search.fa-2x#right-menu

    .right-sidebar
        right-sidebar(ng-controller="rightSidebarController")
            i.fa.fa-chevron-right.fa-2x.close-right-sidebar

    .cal-week-filter

    .cal-filter
    .cal-container
