head
    link(rel="stylesheet" href="../css/calendar.css")
    link(rel="stylesheet" href="../css/jquery.sidr.light.css")
    script(src="../frameworks/Sidr/jquery.sidr.min.js")
    script(src="../js/sidebar.js")
body

    Testing
