.jumbotron.text-center
    h1
        span.fa.fa-lock  Oak Bay Recreation
               
    p Login or Register with:
               
    a.btn.btn-primary(ng-click="facebookAuth()")
        span.fa.fa-facebook     Facebook
    | &nbsp 
    a.btn.btn-danger(ng-click="googleAuth()")
        span.fa.fa-google-plus    Google
