html
    head
        link(rel="stylesheet" href="../css/signin.css")
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
    body
        .jumbotron.text-center.signin
            h1
                span.fa.fa-pagelines
                span.oakbay          Oak Bay Recreation

            p.login
                br
                | Login or Register with:
                br
            a.btn.btn-primary(ng-click="facebookAuth()")
                span.fa.fa-facebook
                span.facebook
                    strong Facebook
            | &nbsp
            a.btn.btn-danger(ng-click="googleAuth()")
                span.fa.fa-google-plus
                span.google
                strong Google
            p.about
                a.about(href='/app/about')      About Us  &nbsp  
  
                a.about(href='/app/regpol')  &nbsp   Registration Policy
                    
                    
