.users(ng-controller='adminController as main')
  .jumbotron
 

    h1 {{main.message}}
    
    h2 Student List:
    table.table.table-bordered
      thead
        tr
          th Username
          |         
          th Restricted
          | 
          th Admin
      |  
      tbody
        tr(ng-repeat='user in main.users')
          td {{ user.username }}
          |          
          td {{ user.isadmin }}
          |          
          td {{ user.isbanned }}
    
