body(ng-controller='adminControllers as main')
  .jumbotron
 
    
.form-group
    label hey loser
      input.form-control(type='text', ng-model='main.message')
      h1 {{ main.message }}
    
    h2 Student List:
    table.table.table-bordered
      thead
        tr
          th First Name
          |          
          th Last Name
      |  
      tbody
        tr(ng-repeat='student in main.students')
          td {{ student.first }}
          |          
          td {{ student.last }}
    
