

html
    head
        link(rel="stylesheet" href="../css/signin.css")
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
        Title Admin Panel
    body
        .jumbotron.text-center.users

            h1.users User List
            a.btn.btn-success.change-view(href="/app/calendar") View Calendar
            &nbsp
            a.btn.btn-primary.change-view(href="/app/reservations") View All Reservations

            table.table.table-bordered
              thead
                tr
                  th Username
                  th Restricted
                  th Admin
                  th Banned Until
                  th Ban/Unban
              tbody
                tr(ng-repeat='user in users')
                  td {{ user.username }}
                  td {{ user.isbanned }}
                  td {{ user.isadmin }}
                  td {{ user.bannedUntil | date: "medium" }}
                  td 
                    a.btn.btn-danger(ng-click="changeBan(user)") Ban/Unban
