.jumbotron

h1 {{main.message}}

h2 Student List:
table.table.table-bordered
  thead
    tr
      th Username
      th Restricted
      th Admin
  tbody
    tr(ng-repeat='user in users')
      td {{ user.username }}
